# Python / MicroPython
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Cachés y artefactos de herramientas
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
